@import '../../styles/global.css';

.table {
  width: 100%;
  max-width: 100%;
  background: var(--background);
  border-radius: 6px;
  overflow: hidden;
  border-spacing: 0px;
  border: 1px solid #525252;
  border-top: none;
}

.caption {
  background: var(--secondary-color);
  padding: 4px 0;
  font-size: 20px;
  font-weight: 700;
}

.table__head {
  background: var(--dark);
  color: var(--white);
}

.md__show {
  display: none;
}

.lg__show {
  display: none;
}

th,
td {
  padding: 15px 5px 15px 15px;
  text-align: left;
  border-right: 1px solid #525252;
  word-wrap: break-word
}

th:first-of-type,
td:first-child {
  width: 180px;
}

td:last-child {
  border-right: none;
}

/* Link styles */
.table a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s ease;
}

.table a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Rows styles */
tr {
  border-bottom: 1px solid #525252;
}
tr:last-of-type {
  border-bottom: none;
}
tbody tr:hover {
  background: #1f1f1f71;
  backdrop-filter: blur(5px);
  cursor: pointer;
  color: var(--accent);
}

/* Medium screens and up */
@media (min-width: 768px) {
  .md__show {
    display: table-cell;
  }

  .table {
    width: 100%;
  }
}

/* Large screens and up */
@media (min-width: 1024px) {
  .lg__show {
    display: table-cell;
  }
}
